@use "../variables.scss";
@use "../mixins.scss";

header {
  z-index: 1000;
  width: 100%;
  height: 4.5rem;
  padding: 0.625rem 5rem;
  font-family: variables.$font-special;
  font-weight: 600;
  position: fixed;
  font-size: 1.1rem;
  background-color: variables.$color-background;
  box-shadow: 0.18rem 0.18rem 0.625rem rgba(0, 0, 0, 0.811);

  display: flex;
  align-items: center;

  .button {
    @include mixins.button;
    padding: 0.5rem 0.625rem;
  }
  span {
    color: variables.$color-secundary;
  }

  a {
    color: variables.$color-text;
    padding: 0.313rem;
    @include mixins.transition;

    &:hover {
      color: variables.$color-primary;
    }
  }

  button {
    margin-left: 0.625rem;
  }

  i {
    color: variables.$color-secundary;
    font-size: 1.875rem;
  }

  .navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  img {
    height: 3.7rem;
  }

  .left-container {
    flex: 60%;
  }

  .right-container {
    flex: 40%;
    display: flex;
    justify-content: flex-end;
    ul {
      @include mixins.center;
      li {
        margin: 0 0.625rem;
      }
    }
  }

  .navMobile {
    background-color: variables.$color-background;
    width: 70%;
    position: absolute;
    top: 5rem;
    right: 0;
    box-shadow: 0.18rem 0.18rem 0.625rem rgba(0, 0, 0, 0.811);

    ul {
      @include mixins.center;
      flex-direction: column;
    }

    li {
      font-size: 1.25rem;
      margin: 0.31rem;
    }

    a {
      padding: 1.25rem;
      display: block;
    }
  }

  @media (max-width: "40rem") {
    padding: 0.625rem 1.875rem;
    img {
      height: 3rem;
    }
  }
}
