$color-text: #afafaf;
$color-background: #011826;
$color-primary: #fff;
$color-secundary: #f20544;
$color-alternate: #012340;
$font-text: "Poppins", sans-serif;
$font-special: "Inconsolata", monospace;
